<!-- section start -->
<!-- ================ -->
<section class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action p-20 light-gray-bg shadow bordered">
          <h2 class="title">Easy As Pi Mathematics offers private and semi-private tutoring</h2>
          <div class="row">
            <div class="col-md-8">
              <p>Due to the impacts of Covid-19 and to ensure we are abiding by social distancing guidelines, we are unable to offer our normal programs.  <b>We are currently offering phone tutoring as well as private and semi-private tutoring in-person at our center.</b></p>
            </div>
            <div class="col-md-4 text-right">
              <a href="/programs/phone-private-tutoring.html" class="btn btn-lg btn-default btn-animated">Tutoring Info<i class="fa fa-arrow-right pl-20"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->