<!-- header-container start -->
<div class="header-container">

  <!-- header-top start -->
  <!-- classes:  -->
  <!-- "dark": dark version of header top e.g. class="header-top dark" -->
  <!-- "colored": colored version of header top e.g. class="header-top colored" -->
  <!-- ================ -->
  <div class="header-top colored">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-5 col-lg-6">
          <!-- header-top-first start -->
          <!-- ================ -->
          <div class="header-top-first clearfix">
            <ul class="social-links circle small clearfix hidden-sm-down">
<!--
              <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
-->
              <li class="facebook"><a target="_blank" href="{{ site.facebook_url }}"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <div class="social-links hidden-md-up circle small">
              <div class="btn-group dropdown">
                <button id="header-top-drop-1" type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
<!--
                  <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
-->
                  <li class="facebook"><a target="_blank" href="{{ site.facebook_url }}"><i class="fa fa-facebook"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- header-top-first end -->
        </div>
        <div class="col-9 col-sm-7 col-lg-6">

          <!-- header-top-second start -->
          <!-- ================ -->
          <div id="header-top-second"  class="clearfix text-right">
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-10"></i>{{ site.phone }}</li>
              <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-10"></i>{{ site.email }}</li>
            </ul>
          </div>
          <!-- header-top-second end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header-top end -->

  <!-- header start -->
  <!-- ================ -->
  <header class="header fixed fixed-desktop dark clearfix">

    <div class="container">
      <div class="row">
        <div class="col-md-auto hidden-md-down pl-3">
          <!-- header-first start -->
          <!-- ================ -->
          <div class="header-first clearfix">

            <!-- logo -->
            <div id="logo" class="logo">
              <a href="/index.html"><img id="logo_img" src="/images/easy-as-pi-logo-white-bg.png" alt="Easy as Pi Mathematics"></a>
            </div>

            <!-- name-and-slogan -->
            <div class="site-slogan">
              Las Vegas Math Tutoring
            </div>

          </div>
          <!-- header-first end -->

        </div>
        <div class="col-lg-auto ml-lg-auto col-12">

          <!-- header-second start -->
          <!-- ================ -->
          <div class="header-second clearfix">
            
          <!-- main-navigation start -->
          <!-- classes: -->
          <!-- ================ -->
          <div class="main-navigation  animated">
            <nav class="navbar navbar-toggleable-md navbar-light p-0">
              
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-brand clearfix hidden-lg-up">

                <!-- logo -->
                <div id="logo-mobile" class="logo">
                  <a href="/index.html"><img id="logo-img-mobile" src="/images/easy-as-pi-logo-white-bg-sm.png" alt="Easy as Pi Mathematics"></a>
                </div>

                <!-- name-and-slogan -->
                <div class="site-slogan">
                  Las Vegas Math Tutoring
                </div>

              </div>

              <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <!-- main-menu -->
                <ul class="navbar-nav ml-xl-auto">

                  <li class="nav-item dropdown ">
                    <a href="/index.html" class="nav-link">Home</a>
                  </li>
                  
                  <li class="nav-item dropdown ">
                    <a href="#" class="nav-link dropdown-toggle" id="first-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutors</a>
                    <ul class="dropdown-menu" aria-labelledby="first-dropdown">
                      <li><a href="/math_tutors/dayleen_taylor.html">Dayleen Taylor</a></li>
                      <li><a href="/math_tutors/jordan_diller.html">Jordan Diller</a></li>
                      <li><a href="/math_tutors/ryder.html">Ryder</a></li>
                      <li><a href="/math_tutors/kylee_hulme.html">Kylee Hulme</a></li>
                      <li><a href="/math_tutors/lainey_waldman.html">Lainey Waldman</a></li>
                      <li><a href="/math_tutors/steve_giles.html">Steve Giles</a></li>
                      <li><a href="/math_tutors/tiffany_taylor.html">Tiffany Taylor</a></li>
                      <li><a href="/math_tutors/makenzie_edwards.html">Makenzie Edwards</a></li>
                      <li><a href="/math_tutors/jackson_kelly.html">Jackson Kelly</a></li>
                      <li><a href="/math_tutors/brianna_taylor.html">Brianna Taylor</a></li>
                      <li><a href="/math_tutors/stevie_felt.html">Stevie Felt</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item dropdown ">
                    <a href="#" class="nav-link dropdown-toggle" id="second-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>
                    <ul class="dropdown-menu" aria-labelledby="second-dropdown">
                      <li><a href="/programs/phone-private-tutoring.html">Phone &amp; Private Tutoring</a></li>
                      <li><a href="/programs/homework-help.html">Homework Help</a></li>
                      <li><a href="/programs/easy-as-pi.html">"Easy as Pi" Program</a></li>
                      <li><a href="/programs/math-science-summer-camps.html">Summer Math &amp; Science Camps</a></li>
                      <li><a href="/programs/summer-kickstart.html">Summer Kickstart</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item dropdown ">
                    <a href="https://www.care.com/connect/easyaspi/?invite=AvSJC7fcAUtWZaDU9CnS8pbA" class="nav-link" target="_blank">Registration</a>
                  </li>
                  
                  <li class="nav-item dropdown ">
                    <a href="/math_help_hours.html" class="nav-link">Location &amp; Hours</a>
                  </li>
                  
                  <li class="nav-item dropdown ">
                    <a href="#contact-form" class="nav-link">Contact Us</a>
                  </li>
                  
                </ul>
                <!-- main-menu end -->
              </div>
            </nav>
          </div>
          <!-- main-navigation end -->
          </div>
          <!-- header-second end -->

        </div>
      </div>
    </div>

  </header>
  <!-- header end -->
</div>
<!-- header-container end -->