---
layout: default
---
<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

  <!-- slideshow start -->
  <!-- ================ -->
  <div class="slideshow">

    <!-- slider revolution start -->
    <!-- ================ -->
    <div class="slider-revolution-5-container">
      <div id="slider-banner-fullwidth-hero" class="slider-banner-fullwidth-hero dotted rev_slider" data-version="5.0">
        <ul class="slides">
          <!-- slide 1 start -->
          <!-- ================ -->
          <li class="text-center" data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Las Vegas Math Tutoring">

          <!-- main image -->
          <img src="/images/a_plus_math_test.jpg" alt="slidebg1" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

          <!-- Transparent Background -->
          <div class="tp-caption dark-translucent-bg"
            data-x="center"
            data-y="center"
            data-start="0"
            data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:600;s:300;"
            data-width="5000"
            data-height="5000">
          </div>

          <!-- LAYER NR. 1 -->
          <div class="tp-caption large_white hidden-xs"
            data-x="center"
            data-y="200"
            data-start="500"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];opacity:0;s:1000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            >Help your child learn to love math!
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption large_white tp-resizeme hidden-xs"
            data-x="center"
            data-y="250"
            data-start="600"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];opacity:0;s:1000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;">
              <div class="separator light"></div>
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption medium_white hidden-xs"
            data-x="center"
            data-y="290"
            data-start="600"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];opacity:0;s:1000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">You will see them get better grades, increase speed and accuracy, <br>all while being part of our fun interactive program!<br>Best of all THEY WILL LOVE IT HERE!!
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption text-center"
            data-x="center"
            data-y="430"
            data-start="700"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];opacity:0;s:1000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="https://campscui.active.com/orgs/EasyasPiMathematics" class="btn btn-default btn-xl margin-clear radius-50 smooth-scroll" target="_blank">SIGN UP NOW</a>
          </div>
          </li>
          <!-- slide 1 end -->
        </ul>
      </div>
    </div>
    <!-- slider revolution end -->

  </div>
  <!-- slideshow end -->

</div>
<!-- banner end -->

<div id="page-start"></div>

{{ content }}

<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-30 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="text-center large">Easy as Pi <span class="text-default">Mathematics</span></h1>
        <div class="separator"></div>
        <p class="large text-center">Does your child need help with homework or studying for tests? Would they like to feel more confident in class?  We will work with your child to identify problem areas and customize a program that will help them <span class="text-default">gain confidence and start excelling in Math.</span></p>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-40 clearfix">
  <div class="white-bg owl-carousel content-slider-with-large-controls">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="testimonial text-center">
            <h3>Improved Math Test Results!</h3>
            <div class="separator"></div>
            <div class="testimonial-body">
              <blockquote>
                <p>What a life saver Easy as Pi has been for our son.  He struggled with Algebra for two years, failing every quiz and test.  After only a couple of weeks with Dayleen and Andrew, he got a 95% on his test!  Amazing!!  His understanding of the material has increased leaps and bounds, and his confidence has soared remarkably.  We love Easy as Pi!  Great location, flexible schedule, but best of all: AWESOME RESULTS!</p>
              </blockquote>
              <div class="testimonial-info-1">- Jane Doe</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="testimonial text-center">
            <h3>Excited about Math</h3>
            <div class="separator"></div>
            <div class="testimonial-body">
              <blockquote>
                <p>Our time at Easy as Pi Mathematics has been invaluable for our 2nd grade son.  He came in not really liking math at all and now he can't wait to "go to math".  He's ahead of where he is supposed to be.  The program they have in place with Legos as rewards for meeting goals is amazing!  We can't say enough good things about Easy as Pi!</p>
              </blockquote>
              <div class="testimonial-info-1">- Sally Smith</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

<!-- section -->
<!-- ================ -->
<section class="pv-40 dark-translucent-bg" style="background: url(/images/thinking_glasses.jpg) 50% no-repeat;">
  <div class="container">
    <h1 class="large text-center text-default">Push Your Child's <span class="text-default">Limits</span></h1>
    <div class="separator"></div>
    <p class="text-center large">Is your child doing well in math, but could use more of a challenge?  This is very common with children that love math.  We will customize a plan that will challenge and motivate your child.  This will help your child to excel in math and other areas such as Physics and Engineering.</p>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon white-bg small circle text-default"><i class="fa fa-check"></i></span>
          <div class="body">
            <h3 class="title">Testing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam natus nemo reiciendis sit eius odio, recusandae, maxime libero delectus ipsa ea aut quo temporibus laboriosam minus dolore vitae iste.</p>
            <div class="separator-3"></div>
            <ul class="list-icons">
              <li>Extremly Simple to Use <i class="icon-check-1"></i></li>
              <li>Customize it in no time <i class="icon-check-1"></i></li>
              <li>Unlimited options and variations <i class="icon-check-1"></i></li>
              <li>We are here to support you <i class="icon-check-1"></i></li>
            </ul>
            <div class="separator-2"></div>
          </div>
        </div>
        <br>
        <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon default-bg small circle"><i class="icon-check"></i></span>
          <div class="body">
            <h3 class="title">Encouragement</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam natus nemo reiciendis sit eius odio, recusandae, maxime libero delectus ipsa ea aut quo temporibus laboriosam minus dolore vitae iste.</p>
            <div class="separator-3"></div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6">
        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon default-bg small circle"><i class="fa fa-check"></i></span>
          <div class="body">
            <h3 class="title">Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam natus nemo reiciendis sit eius odio, recusandae, maxime libero delectus ipsa ea aut quo temporibus laboriosam minus dolore vitae iste.</p>
            <div class="separator-3"></div>
          </div>
        </div>
        <br>
        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon white-bg small circle text-default"><i class="fa fa-check"></i></span>
          <div class="body">
            <h3 class="title">Accomplishment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam natus nemo reiciendis sit eius odio, recusandae, maxime libero delectus ipsa ea aut quo temporibus laboriosam minus dolore vitae iste.</p>
            <div class="separator-2"></div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-40">
  <div class="container">
    <h1 class="large text-center">Our <span class="text-default">Math Tutors</span></h1>
    <div class="separator"></div>
    <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam natus nemo reiciendis sit eius odio, recusandae, maxime libero delectus ipsa ea aut quo temporibus laboriosam minus dolore vitae iste.</p>
  </div>
  <div class="container-fluid">
    <div class="row grid-space-0">
      <div class="col-md-3">
        <div class="team-member image-box style-2 text-center">
          <div class="overlay-container overlay-visible">
            <img src="/images/tutors/taylor_dayleen_index.jpg" alt="Dayleen Taylor">
          </div>
          <div class="body">
            <h3 class="margin-clear">Dayleen Taylor</h3>
            <small>Owner</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">Dayleen Taylor grew up loving mathematics, and always wanted to teach math.</p>
            <a href="/math_tutors/dayleen_taylor.html" class="btn btn-lg-link link-dark"><i class="pr-10 fa fa-user"></i>About Dayleen</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member image-box style-2 text-center">
          <div class="overlay-container overlay-visible">
            <img src="/images/tutors/taylor_tiffany_index.jpg" alt="Tiffany Taylor">
          </div>
          <div class="body">
            <h3 class="margin-clear">Tiffany Taylor</h3>
            <small>Math Tutor</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">Tiffany loves working at Easy as Pi whenever she is home from college.</p>
            <a href="/math_tutors/tiffany_taylor.html" class="btn btn-lg-link link-dark"><i class="pr-10 fa fa-user"></i>About Tiffany</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member image-box style-2 text-center">
          <div class="overlay-container overlay-visible">
            <img src="/images/tutors/waldman_lainey.jpg" alt="Dayleen Taylor">
          </div>
          <div class="body">
            <h3 class="margin-clear">Lainey Waldman</h3>
            <small>Math Tutor</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">Lainey Waldman is an awesome tutor.  She has been working at Easy as Pi for a year now.</p>
            <a href="/math_tutors/lainey_waldman.html" class="btn btn-lg-link link-dark"><i class="pr-10 fa fa-user"></i>About Lainey</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member image-box style-2 text-center">
          <div class="overlay-container overlay-visible">
            <img src="/images/tutors/giles_steve.jpg" alt="Tiffany Taylor">
          </div>
          <div class="body">
            <h3 class="margin-clear">Steve Giles</h3>
            <small>Math Tutor</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">Steve is a senior at Centennial High school and is currently enrolled in the highest level of Calculus at the school.</p>
            <a href="/math_tutors/steve_giles.html" class="btn btn-lg-link link-dark"><i class="pr-10 fa fa-user"></i>About Steve</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->